<template>
<Toast />
 <Toast position="bottom-right" group="br" />
 <div id="main">
  <h1>Add your Personal details</h1>
  <p class="para">Please Fill Every details regarding your company </p>
  </div>

    <div class="box">
    <label for="fullname">FullName</label>
    <InputText id="fullname" class="inputs" v-model="name"  />
    <span class="error"  v-if="v$.name.$error">Name is required! </span>
    <br/><br/>

    <label for="gender">Gender</label>
    <SelectButton v-model="selectedGender"  class="selectInput" :options="gender" optionLabel="name"/>
    <span class="error"  v-if="v$.selectedGender.$error"> Gender is required  </span>
    <br/><br/>

    

    <label for="state">Country</label>
    <br/>
    <Dropdown :options="country" optionLabel="name" class="inputs" v-model="selectedCountry"/>
    <span class="error"  v-if="v$.selectedCountry.$error"> Country is required  </span>
    <br/><br/>

    <label for="state">State</label>
    <br/>
    <Dropdown :options="cstate" optionLabel="name" class="inputs" v-model="selectedState"/>
     <span class="error" v-if="v$.selectedState.$error"> State is required  </span>
     
    <br/><br/>

    <label for="contact">Phone</label>
    <br/> <br/>
     <div class="p-inputgroup">
                    <span class="p-inputgroup-addon ">
                        +91
                    </span>
      <InputNumber placeholder="ContactNumber" v-model="contact" class="inputContact" />
      </div>     
      <span class="error"  v-if="v$.contact.$error"> Contact is required  </span>
      <br/><br/> 
    <Button class="p-button-warning inputs pl-10" @click="handleNext" style="text-align:center">Next</Button>
    </div>
</template>

<script>

import useVuelidate from '@vuelidate/core'
import  {required} from '@vuelidate/validators'


import {mapState,mapActions} from 'vuex'

// const url="http://localhost:3500/person"


export default {

computed:{
  ...mapState(['name','country','cstate','gender','selectedGender','selectedState','selectedCountry','contact'])
},
  setup: () => ({ v$: useVuelidate() }),

 
  data(){
    return{
        name:'',
        contact:null,
       selectedCountry:'null',
      country:[
        {name:'India'},
        {name:'America'},
        {name:'London' },
        {name:'Africa'}
      ],
        selectedGender:null,
      gender:[
        {name:'Male'  },
        {name:'Female'},
        {name:'other' }
      ],
       selectedState:null,
      cstate:[
        {name:'TamilNadu'  },
        {name:"Andhra Pradesh"},
        {name:'Sikkim'},
        {name:'Meghalaya'},
        {name:'Assam'},
        {name:'Gujarat'},
        {name:'Madya Pradesh'},
        {name:'Maharashtra'},
        {name:'Kerala'}
      
      ]
    }
  },
  validations()
  { 
    return {
      name: { required },
      selectedCountry: { required },
      selectedGender: { required },
      selectedState: { required },
      contact: { required }

    }
  
      },
     

    


  methods: {
   
     ...mapActions(['addPerson']),
 

    async handleNext()
    {
      this.v$.$validate()
      if(!this.v$.$error)
      {
       this.addPerson({name:this.name, selectedGender:this.selectedGender, selectedCountry:this.selectedCountry,selectedState:this.selectedState,contact:this.contact})   
               //  const res = await axios.post(url, { name: this.name , gender : this.selectedGender, country : this.selectedCountry, state : this.selectedState, phone : this.contact})
        this.$router.push({name : 'CompanyDetails'})
        
      }
      else{
         this.$toast.add({severity:'error', summary: 'Failed', detail:'Please Fill the required field', group: 'br', life: 3000});
        }
      }
     
    }
  }
  

</script>

<style >
*{
  margin:0;
  padding:0;
}
body{
  background-color:rgb(241, 239, 239);
}
.box{
  width:50%;
  padding-top:40px !important;
  margin:auto;
  padding:20px;
  background-color:white;
  margin-bottom:5%;
}
.para{
  margin-top:2%;
  text-align:center;
}

h1{
  text-align:center;
}

.inputs{
  width:90% !important;
  margin:1% 5% 1% 5% !important;
  color:black !important;
  font-weight:bold !important;
  letter-spacing:1px;
  /* margin-bottom:5%;
  margin-top:2%; */
  
}

.selectInput{
  margin-bottom:2%;
  margin-top:-1%;
  margin-left:5%;
  display: flex;
}

#main{
  margin-top:5%;
  margin-bottom:5%;
  font-size:18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.p-button-warning{
 
  padding:10px;
  display:flex;
  align-items:center;
  justify-content:center;

}
.p-inputgroup{
  width:90% !important;
  margin-left:5%;
  margin-bottom:5%;
}
.error{
  color:red;
  margin-left:5%;
}

label{
  margin-left:5%;
  color:black;
  font-weight:bold;
}
</style>
