<template>
 <div class="card card-body m-4">
    <h3>Options Api + value</h3>
    <h5 class="text-center"> {{counter}}  * 2 = {{times2}}</h5>
   
  </div>

</template>

<script>
import {mapGetters, mapMutations, mapState} from'vuex'
export default {
    computed:{
            //using mapState, mapGetters, mapMutations in options api 
        ...mapState(['counter']),
        // counter(){
        //     return this.$store.state.counter
        // },    

    },
   
}
</script>

<style>

</style>