<template>
<div class="navigation">
  <nav >
    <router-link to="/">
      PersonalDetails</router-link> |
    <router-link :to="{name : 'CompanyDetails' }"> CompanyDetails</router-link> |
     <router-link :to="{name : 'EmailVerification' }"> EmailVerification</router-link>
  </nav>
  </div>
  <router-view/>
</template>

<style scoped >

.navigation{
  height:10%;
  background-color:rgb(21, 128, 157);
  color:white;
  margin:0px;
  padding:0px;
  
}
.btn{
  padding: 12px;
  font-size:12px;
  border-radius: 50%;
  background-color:white;
  color:black;
}
nav {
  padding: 20px;
  text-decoration: none !important;
}

nav a {
  font-weight: bold;
  color: #00363c;
  text-decoration: none !important;
}
navigation>span, nav a:hover {
  font-weight: bold;
  color: #070300 !important;
  text-decoration: none !important;
  border:2px solid rgb(1, 88, 112);
  padding:8px;
  background-color:rgba(205, 255, 253, 0.744);
  
}

nav a.router-link-exact-active {
  color: #ffffff;
  text-decoration: none !important;
  padding:8px;
} 
</style>
